<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/util">

    <context:annotation-config/>
    
    <import resource="securityContext.xml"/>
    
    <import resource="classpath:applicationContext-worker.xml"/>
	
    <bean class="org.apache.wink.spring.Registrar">
        <property name="classes">
            <set value-type="java.lang.Class"/>
        </property>
        <property name="instances">
            <set>
                <bean class="uk.co.revsys.oddball.service.rest.OddballRestService">
                    <constructor-arg index="0" ref="oddball"/>
                    <constructor-arg index="1" ref="authorisationHandler"/>
                </bean>
            </set>
        </property>
    </bean>
    
    <bean id="authorisationHandlers" class="java.util.HashMap">
        <constructor-arg index="0">
            <map key-type="java.lang.String" value-type="uk.co.revsys.oddball.service.rest.AuthorisationHandler">
                <entry key="none" value-ref="allowAllAuthorisationHandler"/>
                <entry key="default" value-ref="defaultAuthorisationHandler"/>
            </map>
        </constructor-arg>
    </bean>
    
    <bean id="authorisationHandler" factory-bean="authorisationHandlers" factory-method="get">
        <constructor-arg index="0" value="${security}"/>
    </bean>
    
    <bean id="allowAllAuthorisationHandler" class="uk.co.revsys.oddball.service.rest.AllowAllAuthorisationHandler"/>
    
    <bean id="defaultAuthorisationHandler" class="uk.co.revsys.oddball.service.rest.AuthorisationHandlerImpl">
        <constructor-arg index="0" value="${security.administrator.role}"/>
        <constructor-arg index="1" value="${security.account.owner.role}"/>
        <constructor-arg index="2" value="${security.user.role}"/>
    </bean>

</beans>
